h1 {
  color: rgb(153, 50, 204);
  padding-left: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 35px;
}

form {
  padding-left: 20px;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

button {
  background-color: #FEBEFD;
  border-color: #FEBEFD;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

label {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
